/* src/index.css */

:root {
  --color-tierra: #A0522D;
  --color-ocre: #F4A460;
  --color-sky: #1E3A8A;
  --color-fondo: #F5F5DC;
  --color-texto: #2C1D17;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-fondo);
  color: var(--color-texto);
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Times New Roman', Times, serif;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}